%h1 Delete Movie By Rating

= form_tag delete_rating_path do

  = label :movie, :rating, 'Rating'
  = select :movie, :rating, ['G','PG','PG-13','R','NC-17']

  = submit_tag 'Delete Movies'
= link_to 'Back to movie list', movies_path
