-# edit.html.haml using partial

%h1 Edit Existing Movie

= form_tag updatefunc_path do

  = label :movie, :title, 'Title'
  = text_field :old, 'title'

  = label :movie, :title, 'New Title'
  = text_field :movie, 'newtitle'

  = label :movie, :rating, 'New Rating'
  = select :movie, :rating, ['G','PG','PG-13','R','NC-17']

  = label :movie, :release_date, 'New Release Date'
  = date_select :movie, :release_date

  = submit_tag 'Update Movie Info'
= link_to 'Back to movie list', movies_path
